# PM2.5 Prediction

In [2]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [73]:
data_ori = pd.read_csv(r"train.csv")
# print(data_ori.columns)
PM = data['observation']=='PM2.5'
data_ori1 = data[PM]
data_ori1.drop(['Date', 'stations', 'observation'], axis=1, inplace=True)
series1 = data_ori1.index
series1.dtype = np.uint8
print(series1)
for i in data_ori1.index[0]:
    print(data_ori1.loc[i, :])

d:\python3.5.2\lib\site-packages\pandas\core\frame.py:3940: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/indexing.html#indexing-view-versus-copy
  errors=errors)

AttributeError: Can't set attribute

In [39]:
ufo = pd.read_csv('ufo.csv')

ufo.drop('City', axis=1, inplace=True)
print(ufo)

                       City Colors Reported Shape Reported State  \
0                    Ithaca             NaN       TRIANGLE    NY
1               Willingboro             NaN          OTHER    NJ
2                   Holyoke             NaN           OVAL    CO
3                   Abilene             NaN           DISK    KS
4      New York Worlds Fair             NaN          LIGHT    NY
5               Valley City             NaN           DISK    ND
6               Crater Lake             NaN         CIRCLE    CA
7                      Alma             NaN           DISK    MI
8                   Eklutna             NaN          CIGAR    AK
9                   Hubbard             NaN       CYLINDER    OR
10                  Fontana             NaN          LIGHT    CA
11                 Waterloo             NaN       FIREBALL    AL
12                   Belton             RED         SPHERE    SC
13                   Keokuk             NaN           OVAL    IA
14                Ludington             NaN           DISK    MI
15              Forest Home             NaN         CIRCLE    CA
16              Los Angeles             NaN            NaN    CA
17                Hapeville             NaN            NaN    GA
18                   Oneida             NaN      RECTANGLE    TN
19               Bering Sea             RED          OTHER    AK
20                 Nebraska             NaN           DISK    NE
21                      NaN             NaN            NaN    LA
22                      NaN             NaN          LIGHT    LA
23                Owensboro             NaN      RECTANGLE    KY
24               Wilderness             NaN           DISK    WV
25                San Diego             NaN          CIGAR    CA
26               Wilderness             NaN           DISK    WV
27                   Clovis             NaN           DISK    NM
28               Los Alamos             NaN           DISK    NM
29             Ft. Duschene             NaN           DISK    UT
...                     ...             ...            ...   ...
18211               Holyoke             NaN        DIAMOND    MA
18212                Carson             NaN           DISK    CA
18213              Pasadena           GREEN       FIREBALL    CA
18214                Austin             NaN      FORMATION    TX
18215              El Campo             NaN          OTHER    TX
18216          Garden Grove          ORANGE          LIGHT    CA
18217         Berthoud Pass             NaN       TRIANGLE    CO
18218            Sisterdale             NaN        DIAMOND    TX
18219          Garden Grove             NaN        CHEVRON    CA
18220           Shasta Lake            BLUE           DISK    CA
18221              Franklin             NaN           DISK    NH
18222        Albrightsville             NaN          OTHER    PA
18223            Greenville             NaN            NaN    SC
18224               Eufaula             NaN           DISK    OK
18225           Simi Valley             NaN      FORMATION    CA
18226         San Francisco             NaN      FORMATION    CA
18227         San Francisco             NaN       TRIANGLE    CA
18228            Kingsville             NaN          LIGHT    TX
18229               Chicago             NaN           DISK    IL
18230           Pismo Beach             NaN           OVAL    CA
18231           Pismo Beach             NaN           OVAL    CA
18232                  Lodi             NaN            NaN    WI
18233             Anchorage             RED        VARIOUS    AK
18234              Capitola             NaN       TRIANGLE    CA
18235        Fountain Hills             NaN            NaN    AZ
18236            Grant Park             NaN       TRIANGLE    IL
18237           Spirit Lake             NaN           DISK    IA
18238           Eagle River             NaN            NaN    WI
18239           Eagle River             RED          LIGHT    WI
18240                  Ybor             NaN           OVAL    FL

                   Time
0        6/1/1930 22:00
1       6/30/1930 20:00
2       2/15/1931 14:00
3        6/1/1931 13:00
4       4/18/1933 19:00
5       9/15/1934 15:30
6        6/15/1935 0:00
7        7/15/1936 0:00
8      10/15/1936 17:00
9        6/15/1937 0:00
10      8/15/1937 21:00
11       6/1/1939 20:00
12      6/30/1939 20:00
13        7/7/1939 2:00
14       6/1/1941 13:00
15       7/2/1941 11:30
16       2/25/1942 0:00
17       6/1/1942 22:30
18       7/15/1942 1:00
19      4/30/1943 23:00
20       6/1/1943 15:00
21       8/15/1943 0:00
22       8/15/1943 0:00
23     10/15/1943 11:00
24       1/1/1944 10:00
25       1/1/1944 12:00
26       1/1/1944 12:00
27       4/2/1944 11:00
28       6/1/1944 12:00
29      6/30/1944 10:00
...                 ...
18211  12/28/2000 18:00
18212  12/28/2000 18:20
18213  12/28/2000 19:10
18214   12/29/2000 0:00
18215   12/29/2000 9:00
18216  12/29/2000 16:10
18217  12/29/2000 19:30
18218  12/29/2000 20:00
18219  12/29/2000 20:30
18220  12/29/2000 20:30
18221  12/29/2000 20:50
18222  12/29/2000 21:00
18223  12/29/2000 22:00
18224  12/29/2000 23:30
18225  12/30/2000 10:00
18226  12/30/2000 22:00
18227  12/30/2000 22:00
18228   12/31/2000 4:00
18229  12/31/2000 11:45
18230  12/31/2000 20:00
18231  12/31/2000 20:00
18232  12/31/2000 20:30
18233  12/31/2000 21:00
18234  12/31/2000 22:00
18235  12/31/2000 23:00
18236  12/31/2000 23:00
18237  12/31/2000 23:00
18238  12/31/2000 23:45
18239  12/31/2000 23:45
18240  12/31/2000 23:59

[18241 rows x 5 columns]
      Colors Reported Shape Reported State              Time
0                 NaN       TRIANGLE    NY    6/1/1930 22:00
1                 NaN          OTHER    NJ   6/30/1930 20:00
2                 NaN           OVAL    CO   2/15/1931 14:00
3                 NaN           DISK    KS    6/1/1931 13:00
4                 NaN          LIGHT    NY   4/18/1933 19:00
5                 NaN           DISK    ND   9/15/1934 15:30
6                 NaN         CIRCLE    CA    6/15/1935 0:00
7                 NaN           DISK    MI    7/15/1936 0:00
8                 NaN          CIGAR    AK  10/15/1936 17:00
9                 NaN       CYLINDER    OR    6/15/1937 0:00
10                NaN          LIGHT    CA   8/15/1937 21:00
11                NaN       FIREBALL    AL    6/1/1939 20:00
12                RED         SPHERE    SC   6/30/1939 20:00
13                NaN           OVAL    IA     7/7/1939 2:00
14                NaN           DISK    MI    6/1/1941 13:00
15                NaN         CIRCLE    CA    7/2/1941 11:30
16                NaN            NaN    CA    2/25/1942 0:00
17                NaN            NaN    GA    6/1/1942 22:30
18                NaN      RECTANGLE    TN    7/15/1942 1:00
19                RED          OTHER    AK   4/30/1943 23:00
20                NaN           DISK    NE    6/1/1943 15:00
21                NaN            NaN    LA    8/15/1943 0:00
22                NaN          LIGHT    LA    8/15/1943 0:00
23                NaN      RECTANGLE    KY  10/15/1943 11:00
24                NaN           DISK    WV    1/1/1944 10:00
25                NaN          CIGAR    CA    1/1/1944 12:00
26                NaN           DISK    WV    1/1/1944 12:00
27                NaN           DISK    NM    4/2/1944 11:00
28                NaN           DISK    NM    6/1/1944 12:00
29                NaN           DISK    UT   6/30/1944 10:00
...               ...            ...   ...               ...
18211             NaN        DIAMOND    MA  12/28/2000 18:00
18212             NaN           DISK    CA  12/28/2000 18:20
18213           GREEN       FIREBALL    CA  12/28/2000 19:10
18214             NaN      FORMATION    TX   12/29/2000 0:00
18215             NaN          OTHER    TX   12/29/2000 9:00
18216          ORANGE          LIGHT    CA  12/29/2000 16:10
18217             NaN       TRIANGLE    CO  12/29/2000 19:30
18218             NaN        DIAMOND    TX  12/29/2000 20:00
18219             NaN        CHEVRON    CA  12/29/2000 20:30
18220            BLUE           DISK    CA  12/29/2000 20:30
18221             NaN           DISK    NH  12/29/2000 20:50
18222             NaN          OTHER    PA  12/29/2000 21:00
18223             NaN            NaN    SC  12/29/2000 22:00
18224             NaN           DISK    OK  12/29/2000 23:30
18225             NaN      FORMATION    CA  12/30/2000 10:00
18226             NaN      FORMATION    CA  12/30/2000 22:00
18227             NaN       TRIANGLE    CA  12/30/2000 22:00
18228             NaN          LIGHT    TX   12/31/2000 4:00
18229             NaN           DISK    IL  12/31/2000 11:45
18230             NaN           OVAL    CA  12/31/2000 20:00
18231             NaN           OVAL    CA  12/31/2000 20:00
18232             NaN            NaN    WI  12/31/2000 20:30
18233             RED        VARIOUS    AK  12/31/2000 21:00
18234             NaN       TRIANGLE    CA  12/31/2000 22:00
18235             NaN            NaN    AZ  12/31/2000 23:00
18236             NaN       TRIANGLE    IL  12/31/2000 23:00
18237             NaN           DISK    IA  12/31/2000 23:00
18238             NaN            NaN    WI  12/31/2000 23:45
18239             RED          LIGHT    WI  12/31/2000 23:45
18240             NaN           OVAL    FL  12/31/2000 23:59

[18241 rows x 4 columns]